.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border: 1px black solid;
  border-radius: 10px;
  margin: 10px;
}

.containerCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokeImg {
  width: 96px;
  height: 96px;
}
